
    <div class="h30 lh30 p5">
        <form name="logFrom">
            <div class="fl w220">
            开始时间：
                <input type="text"  class="w140 Wdate" name="beginDateStr" value="" >
            </div>
            <div class="fl w200">
            至：
                <input type="text"  class="w140 Wdate" name="endDateStr" value="" >
            </div>
            <div class="fl w150">
                指令类型：
                <select class="w80" name="commandTypeCode"><option value="">全部</option></select>
            </div>
            <div class="fl w150">
                指令状态：
                <select class="w80" name="coStatus"><option value="">全部</option></select>
            </div>
            <span class="btn1 cFFF fl mr10 queryButton">查询</span>
            <span class="btn2 cFFF fl exportButton">导出</span>
        </form>
    </div>
    <div class="m3  cb">
        <div class="logGrid" ></div>
    </div>
