<div class="passwordModify">
	<form name="passwordModify">
		<div class=" lineS69c_b">
		<ul class="pl30 mauto mt10">
			<li class=" h25 lh25 mb10">
				<label class=" fl lh25 w80 tr" for="oldPassword">原密码：</label>
				<input class="fl w120" type="password" name="oldPassword"></li>
			<li class=" h25 lh25 mb10">
				<label class=" fl lh25 w80 tr" for="newPassword">设置新密码：</label>
				<input class="fl w120" type="password" name="newPassword"></li>
			<li class=" h25 lh25 mb10">
				<label class=" fl lh25 w80 tr" for="newPasswrodRepeat">重复新密码：</label>
				<input class="fl w120" type="password" name="newPasswrodRepeat"></li>
		</ul>
		</div>
		<div class="  bcBlue l-dialog-buttons">
			<span class=" btn4 fr mr10" type="button" name="updatePassword" value="提交">提交</span>
		</div>
	</form>
</div>