<div class="mauto bcFFF windowBox l-dialog">
    <div class="tit1 cFFF overh l-dialog-tc-inner">
        <div class="l-dialog-icon ' + p.ico + '"></div>
        <h3 class="l-dialog-title">' + p.title + '</h3>
        <div class="l-dialog-winbtns">
            <div class="l-dialog-winbtn l-dialog-close"></div>
        </div>
    </div>
    <div class="l-dialog-body">
        <div class="l-dialog-image"></div>
        <div class="l-dialog-content"></div>
        <div class=" bcBlue l-dialog-buttons">
            <div class="l-dialog-buttons-inner"></div>
        </div>
    </div>
</div>