<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HXCServerWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--不进行Update操作记录备份的数据库表，用逗号间隔-->
    <add key="BackUpTables" value="tb_signing_info,tb_signing_info2" />
    <add key="SQLServerDAL" value="SQLServerDAL" />
    <add key="SavePath" value="D:\HXC_WCF_Files" />
    <add key="UploadTime" value="635496243660000000" />
    <add key="FileUploadTime" value="635496243660000000" />
    <add key="DbServerInstallDir" value="D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\" />
    <add key="DbServerBackDir" value="D:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\" />
    <add key="DbTemplateBakFileName" value="hxc" />
    <add key="SoftRegUrl" value="http://192.168.2.133:8080/sspapp/operation/auth/" />

  </appSettings>
  <connectionStrings>
    <!--管理用户数据库-->
    <add name="ConnectionManageStringWrite"  connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw=="  providerName="System.Data.SqlClient" />
    <!--写用户数据库-->
    <add name="ConnectionStringWrite"  connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw=="  providerName="System.Data.SqlClient" />
    <!--只读用户数据库-->
    <add name="ConnectionStringReadonly"  connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw=="  providerName="System.Data.SqlClient" />
    <!--SQL语句管理库-->
    <add name="ConStrManageSql"  connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw=="  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBindingData"  receiveTimeout="00:30:00" sendTimeout="00:30:00"  maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000" />
          <security mode="None" />
        </binding>
        <binding name="NewBindingFile" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="104857600" transferMode="Streamed">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="00:01:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="HuiXiuCheWcfService.HXCWCFService">
        <endpoint address="net.tcp://localhost:60081/HXCWCFService" binding="netTcpBinding" bindingConfiguration="NewBindingData" contract="HuiXiuCheWcfContract.IHXCWCFService"/>
      </service>
      <service name="HuiXiuCheWcfFileService.HXCWCFFileService">
        <endpoint address="net.tcp://localhost:60082/HXCWCFFileService" binding="netTcpBinding" bindingConfiguration="NewBindingFile"
           contract="HuiXiuCheWcfFileContract.IHXCWCFFileService" />
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
