<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<contextName>spannedstatistics</contextName>
	<!-- 日志输出目录 -->
	<!--appender 输出目的地 file 文件 日志按小时记录 最多保存3个小时的数据 每个小时内的文件按100MB分块， -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>/home/kcpt/logs/spannedstatistics/spannedstatistics.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>/home/kcpt/logs/spannedstatistics/spannedstatistics-%d{yyyy-MM-dd-HH}-%i.log
			</fileNamePattern>
			<maxHistory>3</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<!-- 编码格式解析器 -->
		<encoder>
			<pattern>%date [%contextName][%logger]-[%le] - %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- 日志级别 -->
	<root level="DEBUG">
		<appender-ref ref="FILE" />
	</root>

</configuration>