<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TempPath" value="TempFiles" />
    <add key="savePath" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2024000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="NewBindingFile" maxBufferSize="2147483647" transferMode="Streamed" maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NewBindingFileTransfer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2024000000" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="HuiXiuCheWcfService" address="net.tcp://localhost:60081/HXCWCFService" binding="netTcpBinding" contract="HuiXiuCheWcfContract.IHXCWCFService" bindingConfiguration="NewBinding0">
      </endpoint>
      <endpoint name="HuiXiuCheWcfFileService" address="net.tcp://localhost:60082/HXCWCFFileService" binding="netTcpBinding" bindingConfiguration="NewBindingFile" contract="HuiXiuCheWcfFileContract.IHXCWCFFileService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>