<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HXCServerWinForm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--进行Update操作记录备份的数据库表，用逗号间隔-->
    <add key="BackUpTables" value="tb_maintain_three_guaranty,tb_maintain_toll,tb_maintain_rescue_worker,tb_maintain_rescue_info,tb_maintain_dispatch_worker,tb_maintain_info,tb_maintain_material_detail,tb_maintain_settlement_info,tb_maintain_repair_back,tb_maintain_item,tb_maintain_reservation,tb_maintain_fetch_material,tb_maintain_fetch_material_detai,tb_maintain_refund_material_detai,tb_maintain_refund_material"/>
    <add key="SQLServerDAL" value="SQLServerDAL"/>
    <add key="SavePath" value="D:\HXC_WCF_Files"/>
    <add key="CloundData" value="119.57.151.34:19000"/>
    <add key="CloundFile" value="119.57.151.34:19999"/>
    <add key="UploadTime" value="635496243660000000"/>
    <add key="FileUploadTime" value="635496243660000000"/>
    <add key="UserUploadTime" value="635496243660000000"/>
    <add key="DbServerInstallDir" value="D:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\"/>
    <add key="DbServerBackDir" value="D:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\Backup\"/>
    <add key="DbTemplateBakFileName" value="hxc"/>
    <add key="SoftRegUrl" value="http://192.168.2.133:8080/sspapp/operation/auth/"/>

  </appSettings>
  <connectionStrings>
    <!--管理用户数据库-->
    <add name="ConnectionManageStringWrite" connectionString="m3zzEDzCzYQYNAm9Ui4Y6YdEHY5rKudWo3IFXgV5Kzb2tiLMB4PDuSAq1Dx0i0eFeWjWOB8WTDcPFaxVFx+2eEeWcdpbIgHLPwig0/MDDjU=" providerName="System.Data.SqlClient"/>
    <!--写用户数据库-->
    <add name="ConnectionStringWrite" connectionString="m3zzEDzCzYQYNAm9Ui4Y6YdEHY5rKudWo3IFXgV5Kzb2tiLMB4PDuSAq1Dx0i0eFeWjWOB8WTDcPFaxVFx+2eEeWcdpbIgHLPwig0/MDDjU=" providerName="System.Data.SqlClient"/>
    <!--只读用户数据库-->
    <add name="ConnectionStringReadonly" connectionString="m3zzEDzCzYQYNAm9Ui4Y6YdEHY5rKudWo3IFXgV5Kzb2tiLMB4PDuSAq1Dx0i0eFeWjWOB8WTDcPFaxVFx+2eEeWcdpbIgHLPwig0/MDDjU=" providerName="System.Data.SqlClient"/>
    <!--SQL语句管理库-->
    <add name="ConStrManageSql" connectionString="m3zzEDzCzYQYNAm9Ui4Y6YdEHY5rKudWo3IFXgV5Kzb2tiLMB4PDuSAq1Dx0i0eFeWjWOB8WTDcPFaxVFx+2eEeWcdpbIgHLPwig0/MDDjU=" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBindingData" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000"/>
          <security mode="None"/>
        </binding>
        <binding name="NewBindingFile" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="104857600" transferMode="Streamed">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceTimeouts transactionTimeout="00:01:00"/>
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="HuiXiuCheWcfService.HXCWCFService">
        <endpoint address="net.tcp://localhost:60081/HXCWCFService" binding="netTcpBinding" bindingConfiguration="NewBindingData" contract="HuiXiuCheWcfContract.IHXCWCFService"/>
      </service>
      <service name="HuiXiuCheWcfFileService.HXCWCFFileService">
        <endpoint address="net.tcp://localhost:60082/HXCWCFFileService" binding="netTcpBinding" bindingConfiguration="NewBindingFile" contract="HuiXiuCheWcfFileContract.IHXCWCFFileService"/>
      </service>
    </services>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1B03E6ACF1164F73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-0.86.0.518" newVersion="0.86.0.518"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
