<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SavePath" value="D:\HXC_WCF_Files" />
    <add key="SQLServerDAL" value="SQLServerDAL" />
  </appSettings>
  <connectionStrings>
    <!--管理用户数据库-->
    <add name="ConnectionManageStringWrite" connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw==" providerName="System.Data.SqlClient"/>
    <!--写用户数据库-->
    <add name="ConnectionStringWrite" connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw==" providerName="System.Data.SqlClient"/>
    <!--只读用户数据库-->
    <add name="ConnectionStringReadonly" connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw==" providerName="System.Data.SqlClient"/>
    <!--SQL语句管理库-->
    <add name="ConStrManageSql" connectionString="m3zzEDzCzYQcHyS6p5poGi2jV2Q2IVCMy+a9LH8sXmQlaRUXbGkhZWwZHUqy/yR78snuD8o/AMVU6meI65FyudcOYoHLfvpDzxlTayD9fcVeK6nbO2dsCw==" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
