<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings configSource="App_Config\\appSettings.config" />
  <connectionStrings configSource="App_Config\\connectionStrings.config" />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>        
     </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000"/>
          <security mode="None" />
        </binding>    
        <binding name="NewBindingSession" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                     maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000">
              <readerQuotas maxDepth="32" maxStringContentLength="2024000000" maxArrayLength="16384"
                          maxBytesPerRead="4096" maxNameTableCharCount="16384" />
              <security mode="None" />
        </binding>  
      </netTcpBinding>
    </bindings>
    <!--<bindings>
      <netTcpBinding>
        <binding maxBufferPoolSize="52428800" maxBufferSize="6553600" maxReceivedMessageSize="6553600" portSharingEnabled="true">
          <readerQuotas maxStringContentLength="6553600"/>
          --><!--取消服务器凭据认证--><!--
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>-->    
    <services>
      <service name="HuiXiuCheWcfService.HXCWCFService">
        <!--<host>
          <baseAddresses>
            <add baseAddress="http://localhost:10000/HXCWCFService" />
          </baseAddresses>
        </host>-->
        <endpoint address="net.tcp://localhost:9999/HXCWCFService" binding="netTcpBinding" bindingConfiguration="NewBinding0"
           contract="HuiXiuCheWcfContract.IHXCWCFService" />       
      </service>
    </services>    
    <client>
      <endpoint name="HuiXiuCheWcfSessionService"
                address="net.tcp://localhost:7777/HXCWCFSessionService"
                binding="netTcpBinding"
                contract="HuiXiuCheWcfSessionContract.IHXCWCFSessionService"
                bindingConfiguration="NewBindingSession">
      </endpoint>
    </client>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>  
</configuration>
