<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>HessianProxy</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>MonitoringService</display-name>
		<servlet-name>MonitoringService</servlet-name>
		<servlet-class>com.ctfo.hessianproxy.monitoring.servlet.MonitoringService</servlet-class>
		<load-on-startup>3</load-on-startup>
	</servlet>
	<servlet>
		<description></description>
		<display-name>VehicleService</display-name>
		<servlet-name>VehicleService</servlet-name>
		<servlet-class>com.ctfo.hessianproxy.monitoring.servlet.VehicleService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VehicleService</servlet-name>
		<url-pattern>/VehicleService</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/com/ctfo/hessianproxy/resource/*/spring-*.xml</param-value>
	</context-param>
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
</web-app>