<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="yuTongWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <yuTongWebService.Properties.Settings>
            <setting name="yuTongWebService_yutong_contact_portTypeService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_ServiceStation_portTypeService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryBus_portTypeService" serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryCustomer_customerQueryService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryRepairProject_repairProjectQueryService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_SUContact_contactSUPortTypeService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryHitchMode_hitchModeQueryService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryBusModel_busModelQueryService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryPart_partQueryService" serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_QueryProdImprovement_prodImprovementQueryService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_SUPartSale_partSaleSUService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_SUCustomer_customerSUService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
            <setting name="yuTongWebService_SUSercicePartStock_sercicePartStockSUService"
                serializeAs="String">
                <value>https://isgqas.yutong.com:2222/ISG/ws/invokeService</value>
            </setting>
        </yuTongWebService.Properties.Settings>
    </applicationSettings>
</configuration>