<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--不进行Update操作记录备份的数据库表，用逗号间隔-->
    <add key="BackUpTables" value="" />
    <add key="SQLServerDAL" value="SQLServerDAL" />
    <add key="SavePath" value="D:\HXC_WCF_Files" />
    <add key="ThirdSocket" value="127.0.0.1:9000" />
    <add key="UploadTime" value="635496243660000000" />
    <add key="DbName" value="HXC" />
  </appSettings>
  <connectionStrings>
    <!--管理用户数据库-->
    <add name="ConnectionManageStringWrite"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--写用户数据库-->
    <add name="ConnectionStringWrite"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--只读用户数据库-->
    <add name="ConnectionStringReadonly"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--SQL语句管理库-->
    <add name="ConStrManageSql"  connectionString="Data Source=192.168.2.139;Initial Catalog=HYHFrameworkDemo;User ID=sa;Password=sa123;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxReceivedMessageSize="202400000" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:30:00" sendTimeout="00:30:00">    
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />       
          <security mode="None" />
        </binding>
        <binding name="NewBindingSession" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2024000000" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>     
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="False"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="HuiXiuCheWcfFileTransferService.HXCWCFFileTransferService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10008/HXCWCFFileTransferService" />
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:10007/HXCWCFFileTransferService" binding="netTcpBinding" bindingConfiguration="NewBinding0"
           contract="HuiXiuCheWcfFileTransferContract.IHXCWCFFileTransferService" />
      </service>
    </services>
    <client>
      <endpoint name="HuiXiuCheWcfSessionService"
                address="net.tcp://localhost:7777/HXCWCFSessionService"
                binding="netTcpBinding"
                contract="HuiXiuCheWcfSessionContract.IHXCWCFSessionService"
                bindingConfiguration="NewBindingSession">
      </endpoint>
    </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>