<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--不进行Update操作记录备份的数据库表，用逗号间隔-->
    <add key="BackUpTables" value="" />
    <add key="SQLServerDAL" value="SQLServerDAL" />
    <add key="SavePath" value="D:\HXC_WCF_Files" />
    <add key="ThirdSocket" value="127.0.0.1:9000" />
    <add key="UploadTime" value="635496243660000000" />
    <add key="DbName" value="HXC" />
  </appSettings>
  <connectionStrings>
    <!--管理用户数据库-->
    <add name="ConnectionManageStringWrite"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--写用户数据库-->
    <add name="ConnectionStringWrite"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--只读用户数据库-->
    <add name="ConnectionStringReadonly"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--SQL语句管理库-->
    <add name="ConStrManageSql"  connectionString="Data Source=192.168.2.139;Initial Catalog=HYHFrameworkDemo;User ID=sa;Password=sa123;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding0" maxReceivedMessageSize="202400000">
          <readerQuotas maxStringContentLength="2024000000" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false 并删除上面的元数据终结点 -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="HuiXiuCheWcfSessionService.HXCWCFSessionService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7776/HXCWCFSessionService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:7777/HXCWCFSessionService" binding="netTcpBinding" bindingConfiguration="NewBinding0" contract="HuiXiuCheWcfSessionContract.IHXCWCFSessionService"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>