<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:/jdbc.properties" />
	</bean>
	
	<bean id="SpringBUtils" class="com.ctfo.utils.SpringBUtils" scope="singleton"></bean>
	
	<!-- ID生成器  -->
	<bean id="IDGenerator" class="com.ctfo.utils.IDGenerator" scope="singleton"></bean>
	
	<bean id="dataSource" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
		<description>mysql datasource</description>
		<property name="uniqueResourceName" value="${mysql_resourceName}" />
		<property name="xaDataSourceClassName" value="${mysql_xaDataSourceClassName}" />
		<property name="xaProperties">
			<props>
				<prop key="user">${mysql_user}</prop>
				<prop key="password">${mysql_password}</prop>
				<prop key="URL">${mysql_url}</prop>
			</props>
		</property>
		   <!-- 测试失效链接 -->
		<!--<property name="testQuery"> <value>select 1 from dual </value> </property>-->
		<property name="poolSize" value="${mysql_poolSize}" />
		<property name="maxPoolSize" value="${mysql_maxPoolSize}" />    
        <!-- 最大空闲时间，超过空闲时间的连接将被丢弃。为0或负数则永不丢弃。默认为0秒 -->
		<property name="maxIdleTime" value="${mysql_maxIdleTime}" />
		<property name="borrowConnectionTimeout" value="${borrowConnectionTimeout}" /> 
	</bean>
	<!-- 注入ibaits配置文件 -->
	 <bean id="sqlMapClient" class="org.springframework.beans.factory.config.ListFactoryBean" >
 		<property name="sourceList">  
       		<list>
         		<value>classpath:/WEB-INF/classes/com/ctfo/resource/SqlMapConfig.xml</value>
        	</list>  
    	</property> 
 	</bean>
	<bean id="spOperatorSqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean" >
		<property name="configLocation" value="/WEB-INF/classes/com/ctfo/resource/SqlMapConfig.xml" />  
 		<property name="dataSource" ref="dataSource"/>
	</bean>	
	<bean id="clientTemplate" class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="spOperatorSqlMapClient" />
	</bean>
	<bean id="genericIbatisAbstract" class="com.ctfo.dao.impl.GenericIbatisAbstract" abstract="true">
		<property name="sqlMapClientTemplate">
			<ref bean="clientTemplate" />
		</property>
	</bean>
	
		
	 <bean id="atomikosUserTransaction"	class="com.atomikos.icatch.jta.UserTransactionImp">
		<description>UserTransactionImp1</description>
        <property name="transactionTimeout" value="${transactionTimeout}"/>
 	</bean>

	<bean id="atomikosTransactionManager" class="com.atomikos.icatch.jta.UserTransactionManager"
		init-method="init" destroy-method="close">
		<description>UserTransactionManager1</description>
		<property name="forceShutdown">	<value>true</value>
		</property>
	</bean>

	<bean id="springTransactionManager"	class="org.springframework.transaction.jta.JtaTransactionManager">
		<description>JtaTransactionManager1</description>
		<property name="transactionManager"><ref bean="atomikosTransactionManager" /></property>
		<property name="userTransaction"><ref bean="atomikosUserTransaction" /></property>
	</bean>
	<!--##### JTA事务结束-->
	<aop:config>
		<aop:pointcut id="allServiceRmiMethod"
			expression="execution(* com.ctfo.service.impl.*.*(..))" />
			<aop:pointcut id="noFindServiceRmiMethod"
			expression="execution(* com.ctfo.service.impl.*.*(..)) " />
		<aop:advisor pointcut-ref="allServiceRmiMethod"	advice-ref="txAdvice"/>
	</aop:config>
	<!-- 事务的传播特性 -->
	<tx:advice id="txAdvice" transaction-manager="springTransactionManager">
		<tx:attributes>
			<tx:method name="add*" 
				propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="modify*" 
				propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="remove*" 
				propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="update*" 
				propagation="REQUIRED" rollback-for="java.lang.Exception" />
			<tx:method name="synOrgService" 
				propagation="REQUIRED" rollback-for="java.lang.Exception" />	
			<tx:method name="*" propagation="SUPPORTS" />
		</tx:attributes>
	</tx:advice>
	
	<!-- 用户登陆配置    -->
	<bean id="sysSpOperatorDAO" class="com.ctfo.dao.impl.SysSpOperatorDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="SysSpOperator"></property>
	</bean>
	
	<!-- 用户管理    -->
	<bean id="operatorManageDAO" class="com.ctfo.dao.impl.OperatorManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="Operator"></property>
	</bean>
	
	<!-- 角色管理    -->
	<bean id="roleManageDAO" class="com.ctfo.dao.impl.RoleManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="Role"></property>
	</bean>
	
	<!-- 角色管理    -->
	<bean id="selectOptionsManageDAO" class="com.ctfo.dao.impl.SelectOptionsManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="SelectOptions"></property>
	</bean>
	
	<!-- 平台管理    -->
	<bean id="platFormManageDAO" class="com.ctfo.dao.impl.PlatFormManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="PlatForm"></property>
	</bean>
	
	<!-- 项目管理    -->
	<bean id="projectManageDAO" class="com.ctfo.dao.impl.ProjectManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="Project"></property>
	</bean>
	
	<!-- 服务器管理    -->
	<bean id="serverManageDAO" class="com.ctfo.dao.impl.ServerManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="Server"></property>
	</bean>
	
	<!-- 服务管理    -->
	<bean id="serviceManageDAO" class="com.ctfo.dao.impl.ServiceManageDAOImpl" scope="prototype" parent="genericIbatisAbstract">
		<property name="sqlmapNamespace" value="Services"></property>
	</bean>
</beans>