<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- 车厂考核指标月统计 -->
	<bean id="tlRepFacActDetailMonthDAO" class="com.ctfo.stat.dao.impl.TlRepFacActDetailMonthDAOImpl" scope="prototype" parent="centerGenericIbatisAbstract">
		<property name="sqlmapNamespace" value="TlRepFacActDetailMonth"></property>
	</bean> 
	
	<bean id="tlRepFacActDetailMonthService" class="com.ctfo.stat.service.impl.TlRepFacActDetailMonthServiceImpl" scope="prototype">
		<property name="tlRepFacActDetailMonthDAO" ref="tlRepFacActDetailMonthDAO"></property>
	</bean>
	
</beans>