<!--eurocargo.html 换肤-->
<form name="eurocargoForm" class="bcFFF">
    <div class="p20 h150  lineS_b">
         
         <input type="hidden" name="skinStyle" value="0">  
         <ul class="eurocargoList">
         	<li>
            	<div class="skinBox focus">
            		<img src="img/skin.png" />
                	<div class="btn"></div>
                </div>
                <p class=" h30 lh30">经典蓝（默认）</p>
            </li>
            <li>
            	<div class="skinBox">
            		<img src="img/navy/skin01.png" />
                	<div class="btn none"></div>
                </div>
                <p class=" h30 lh30">复古墨蓝</p>
            </li>
            <li>
            	<div class="skinBox">
            		<img src="img/black/skin02.png" />
                	<div class="btn none"></div>
                </div>
                <p class=" h30 lh30">自然松绿</p>
            </li>
            <li>
            	<div class="skinBox">
            		<img src="img/wood/skin03.png" />
                	<div class="btn none"></div>
                </div>
                <p class=" h30 lh30">木制纹理</p>
            </li>
         </ul>
    </div>
    <div class="w bcFFF pt5 h35">
        <span class=" btn4 fr mr20" type="button" name="update" value="确认">确认</span>
        <span class=" btn4 fr mr20" type="button" name="cancel" value="取消">取消</span>
    </div>
 </form>