<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--不进行Update操作记录备份的数据库表，用逗号间隔-->
  <add key="BackUpTables" value="" />
  <add key="SQLServerDAL" value="SQLServerDAL" />
  <add key="SavePath" value="D:\HXC_WCF_Files" />
  <add key="ThirdSocket" value="127.0.0.1:9000" />
  <add key="UploadTime" value="635496243660000000" />
  <add key="DbName" value="HXC" />
</appSettings>