<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--管理用户数据库-->
    <add name="ConnectionManageStringWrite"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--写用户数据库-->
    <add name="ConnectionStringWrite"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--只读用户数据库-->
    <add name="ConnectionStringReadonly"  connectionString="Data Source=192.168.2.139;Initial Catalog=@@@;User ID=sa;Password=sa123456!@#$%^;"  providerName="System.Data.SqlClient" />
    <!--SQL语句管理库-->
    <add name="ConStrManageSql"  connectionString="Data Source=192.168.2.139;Initial Catalog=HYHFrameworkDemo;User ID=sa;Password=sa123;"  providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>