<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="log.base" value="d:\\test\\trackservice" />
	<!--appender 输出目的地 console 控制台 -->
	<appender name="console" class="ch.qos.logback.core.ConsoleAppender"
		target="System.out">
		<encoder charset="UTF-8">
			<pattern>%date{yyyy-MM-dd HH:mm:ss} [%logger{5}]-[%le] - %m%n
			</pattern>
		</encoder>
		<target>System.out</target>
	</appender>
	<!--appender 输出目的地 file 文件 -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/trackservice.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/trackservice-%d{yyyy-MM-dd-HH}.log</fileNamePattern>
			<maxHistory>7</maxHistory>
		</rollingPolicy>
		<!-- 编码格式解析器 -->
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss} [%logger{5}]-[%le] - %m%n</pattern>
		</encoder>
	</appender>
	
	<!-- 异步日志存储 -->
	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<!-- <appender-ref ref="console" /> -->
		<appender-ref ref="FILE" />
	</appender>


	<root level="INFO">
		<appender-ref ref="ASYNC" />
		<!-- <appender-ref ref="console" /> -->
	</root>

</configuration>