<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-2.5.xsd"> 

	<!-- ①：对com.ctfo包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 --> 
	<context:component-scan base-package="com.ctfo"/>

	<bean id="messageConverters" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />
	<!-- ②：启动Spring MVC的注解功能，完成请求和注解POJO的映射 --> 
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<!-- 日期格式转换 -->
		<property name="webBindingInitializer">
			<bean class="com.ctfo.common.filter.DateConverter" />
		</property>

		<property name="messageConverters" ref="messageConverters"/>
	</bean>

	<!--③：对模型视图名称的解析，即在模型视图名称添加前后缀  --> 
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp"/> 
</beans> 
