<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.1.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">
	
	<!-- 配置数据源-主 -->
	<bean id="writeJedisDataSource" class="com.ctfo.storage.redis.core.RedisDataSource" init-method="init">
		<property name="host" value="${REDIS.HOST.MAIN}" />
		<property name="port" value="${REDIS.PORT.MAIN}" />
		<property name="password" value="${REDIS.PASSWORD.MAIN}" />
		<property name="maxActive" value="${REDIS.pool.maxActive}" />
		<property name="maxIdle" value="${REDIS.pool.maxIdle}" />
		<property name="maxWait" value="${REDIS.pool.maxWait}" />
		<property name="timeOut" value="${REDIS.pool.redis.timeout}" />
	</bean>
	<!-- 配置数据源-从 -->
	<bean id="readJedisDataSource" class="com.ctfo.storage.redis.core.RedisDataSource" init-method="init">
		<property name="host" value="${REDIS.HOST.FROM}" />
		<property name="port" value="${REDIS.PORT.FROM}" />
		<property name="password" value="${REDIS.PASSWORD.FROM}" />
		<property name="maxActive" value="${REDIS.pool.maxActive}" />
		<property name="maxIdle" value="${REDIS.pool.maxIdle}" />
		<property name="maxWait" value="${REDIS.pool.maxWait}" />
		<property name="timeOut" value="${REDIS.pool.redis.timeout}" />
	</bean>

	<!-- jedisDao-主 -->
	<bean id="writeJedisDao" class="com.ctfo.storage.redis.core.RedisDaoSupport">
		<property name="redisDataSource" ref="writeJedisDataSource" />
	</bean>
	<!-- jedisDao-从 -->
	<bean id="readJedisDao" class="com.ctfo.storage.redis.core.RedisDaoSupport">
		<property name="redisDataSource" ref="readJedisDataSource" />
	</bean>
</beans>