<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="BackUpTables" value="" />
    <add key="SQLServerDAL" value="SQLServerDAL" />
    <add key="TempPath" value="TempFiles" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionManageStringWrite" connectionString="Data Source=192.168.1.200\sas;Initial Catalog=hxc;User ID=HXCSA;Password=sas;Connection Timeout=300000;"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionStringWrite" connectionString="Data Source=192.168.1.200\sas;Initial Catalog=hxc;User ID=sa;Password=sas;Connection Timeout=300000;"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionStringReadonly" connectionString="Data Source=192.168.1.200\sas;Initial Catalog=hxc;User ID=sa;Password=sas;Connection Timeout=300000;"
      providerName="System.Data.SqlClient" />
    <add name="ConStrManageSql" connectionString="Data Source=192.168.1.200\sas;Initial Catalog=HYHFrameworkDemo;User ID=sa;Password=sa123;"
      providerName="System.Data.SqlClient" />
    <add name="testWinForm.Properties.Settings.hxcConnectionString"
      connectionString="Data Source=192.168.1.200\sas;Initial Catalog=hxc;Persist Security Info=True;User ID=sa;Password=sas;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>   
      <netTcpBinding>
        <binding name="NewBinding0" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2024000000" maxArrayLength="16384"
                      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="NewBindingFile" maxBufferSize="2147483647" transferMode="Streamed"
            maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
        <binding name="NewBindingFileTransfer" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                 maxBufferSize="2024000000" maxBufferPoolSize="524288" maxReceivedMessageSize="2024000000">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="HuiXiuCheWcfService"
                address="net.tcp://localhost:9999/HXCWCFService"
                binding="netTcpBinding"
                contract="HuiXiuCheWcfContract.IHXCWCFService"
                bindingConfiguration="NewBinding0">
      </endpoint>
      <endpoint name="HuiXiuCheWcfFileService"
                address="net.tcp://localhost:9998/HXCWCFFileService"
                binding="netTcpBinding"
                bindingConfiguration="NewBindingFile"
                contract="HuiXiuCheWcfFileContract.IHXCWCFFileService" />
      <endpoint name="HuiXiuCheWcfFileTransferService"
                address="net.tcp://localhost:10007/HXCWCFFileTransferService"
                binding="netTcpBinding"
                bindingConfiguration="NewBindingFileTransfer"
                contract="HuiXiuCheWcfFileTransferContract.IHXCWCFFileTransferService" />
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
